anndata==0.9.2
dataclasses-json==0.6.7
h5py==3.14.0
igraph==0.11.9
jmespath==1.0.1
joblib==1.5.1
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-text-splitters==0.3.8
langsmith==0.4.4
leidenalg==0.10.2
llvmlite==0.44.0
matplotlib==3.10.3
networkx==3.5
numba==0.61.2
numpy==2.2.0
openai==0.27.0
opencv-python==4.12.0.88
pandas==2.3.1
pillow==11.3.0
pydantic==2.11.7
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
requests==2.32.4
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.16.0
seaborn==0.13.2
sympy==1.13.3
tifffile==2025.6.11
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
umap-learn==0.5.9.post2
zarr==3.0.10